<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="httpjar.mapper.UsersUpdateRecordMapper">
  <resultMap id="BaseResultMap" type="httpjar.model.po.UsersUpdateRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_success" jdbcType="BIT" property="isSuccess" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users_update_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="httpjar.model.po.UsersUpdateRecord">
    insert into users_update_record (user_id, update_time,
      is_success)
    values (#{userId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{isSuccess,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="httpjar.model.po.UsersUpdateRecord">
    update users_update_record
    set user_id = #{userId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_success = #{isSuccess,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, update_time, is_success
    from users_update_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, update_time, is_success
    from users_update_record
  </select>
  <select id="selectRecordByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, update_time, is_success
    from users_update_record
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
</mapper>