<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="httpjar.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="httpjar.model.po.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="auto_update" jdbcType="BIT" property="autoUpdate" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="user_info_id" jdbcType="INTEGER" property="userInfoId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users_set
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="httpjar.model.po.User">
    insert into users_set (id, auto_update, account, 
      user_info_id)
    values (#{id,jdbcType=INTEGER}, #{autoUpdate,jdbcType=BIT}, #{account,jdbcType=VARCHAR}, 
      #{userInfoId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="httpjar.model.po.User">
    update users_set
    set auto_update = #{autoUpdate,jdbcType=BIT},
      account = #{account,jdbcType=VARCHAR},
      user_info_id = #{userInfoId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="cancelAutoUpdateByUserId" parameterType="java.lang.Integer">
    update users_set
    set auto_update = '0'
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="startAutoUpdateByUserId" parameterType="java.lang.Integer">
    update users_set
    set auto_update = '1'
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, auto_update, account, user_info_id
    from users_set
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, auto_update, account, user_info_id
    from users_set
  </select>
  <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, auto_update, account, user_info_id
    from users_set
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="selectAutoUpdateUsers" resultMap="BaseResultMap">
    select id, auto_update, account, user_info_id
    from users_set
    where auto_update = 1
  </select>
</mapper>